* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    background: url(./Assets/Banner/banner.svg);
    width: 100%;
    background-repeat: no-repeat;

}

.head-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;
}

.head-bar h3 {
    margin-left: 100px;
    font-size: 30px;
    color: #ffffff;
}

.head-bar a {
    color: #ffffff;
    text-decoration: none;
}

.navigation {
    display: flex;
    gap: 50px;
}

.demo-btn a {
    margin: 0px 100px;
    background-color: #ffffff2a;
    padding: 10px 25px;
    border-radius: 24px;

}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;

}

.para-container,
.request-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;

}

.breaker {
    display: block;

}

.main-content h1 {
    font-size: 50px;
    color: #ffffff;
}


.request-btn a {
    text-decoration: none;
    color: #ffffff;
    background-color: #231A36;
    border: 0;
    padding: 15px;
    border-radius: 30px;
    margin: 50px 0px;
}

.client-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 35px 0px;
}

.client-box h6 {
    color: #B2B7BE;
    letter-spacing: 1px;
    font-weight: 400;
}

.box-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 35px;
    gap: 30px;
    flex-wrap: wrap;
}

.container-3 {

    padding-bottom: 100px;

}

.content-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;

}

.content-3 h3 {
    font-size: 40px;
}

.content-3 p {
    color: #426666;
}

.events-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;

}

.events-list h5 {
    letter-spacing: 7px;
}

.clr-1 {
    color: #B33CDB;
}

.clr-2 {
    color: #FBBA33;
}

.clr-3 {
    color: #DE2879;
}

.events-list h2 {
    color: #1B1BEB;
    margin-top: 15px;
}

.events-list p {
    color: #426666;
    margin-top: 15px;
}

.events-list h6 {
    color: #42424A;
    margin-top: 15px;
}



.container-4 {
    background-color: #231A36;
}

.client-report-box {
    width: 80%;
    margin: 0px auto;
}


.client-report-box > div {
    text-align: center;

}

.client-report-box>div:nth-child(1) {
    padding: 80px 30px 10px 30px;
    color: #ffffff;
    font-size: 26px;
}

.client-report-box>div:nth-child(2) {
    color: #7B9292;
}

.client-report-box>div:nth-child(3) {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    gap: 100px;
    color: #7B9292;
}

.client-report-box>div:nth-child(3) h3 {
    font-size: 38px;
    color: #ffffff;

}


.solution-items {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 250px;
}

.solution-box {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.solution-box>h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.solution-box-wraper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.parent {
    position: relative;

}

.child {
    background-color: #ffffff;
    position: absolute;
    bottom: -25%;
    left: 0;
    padding: 20px;
}

.child>div {
    display: flex;
    margin: 10px 30px 10px 0px;
    gap: 20px;
}

.child>div h4 {
    font-size: 24px;
}

.child>div span {
    color: #ADADBA;
    font-size: 10px;
}

.center-aling {
    display: flex;
    align-items: center;
}

.child div>a {
    color: #B33CDB;
    text-decoration: none;
}


.container-5 {
    background-color: #ffffff;
    margin: 70px 0px;
}

.cust-report {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cust-report p {
    padding: 20px 0px;
    color: #426666;

}

.cust-report-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.cust-report-box div p {
    color: #6D6D6D;
    font-style: italic;
}

.cust-report-box div h3 {
    margin-top: 40px;
}

.cust-report-box div span {
    color: #9C988F;
}

.cust-report-box div:nth-child(2) img {
    width: 250px;
}

.background-container {
    background: url(./Assets/Subscribe/subscribe.jpg) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    background-size: cover;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
}

.text-overlay {
    margin: 50px 0px;
}

.text-overlay h1 {
    padding: 25px 0px;
}

.text-overlay button {
    text-decoration: none;
    margin-top: 50px;
    border: 0;
    background-color: #231A36;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;

}

.footer-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;


}

.footer-section nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0px 30px;
    color: #585860;
}

.line-div {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.end-line {
    border-bottom: 1px solid #c9c9c9;
    margin: 20px 0px;
    width: 80%;

}

.end-div {
    display: flex;
    justify-content: center;
    color: #c9c9c9;
    margin-bottom: 30px;
    font-size: 12px;
}



@media only screen and (max-width: 1200px) {

    .head-bar a {
        margin: 0px 20px;
    }

    .solution-box-wraper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 150px;
    }

    .solution-items {
        margin-bottom: 200px;
    }

}

@media only screen and (max-width: 900px) {
    .head-bar {
        flex-direction: column;
        font-size: 15px;
        gap: 20px;

    }

    .head-bar h3 {
        margin-left: auto;
    }

    .spacing {
        display: flex;
    }

    .content-3 {
        margin: 0px 15px;
    }

    .client-report-box>div:nth-child(3) {
        flex-wrap: wrap;
    }

    .text-overlay {
        margin: 25px 15px;
    }

    .footer-section {
        flex-direction: column;
        gap: 20px;
    }

}

@media only screen and (max-width: 700px) {

    .demo-btn {
        opacity: 0;
    }

    .head-bar h3 {
        font-size: 25px;
    }

    .events-list {
        flex-direction: column;
        gap: 50px;
    }

    .for-order {
        order: 2;
    }

    .client-report-box > div:nth-child(1) {
        font-size: 22px;
    }

    .client-report-box > div:nth-child(2) {
        margin-top: 30px;
    }

    .client-report-box > div:nth-child(3) {
        flex-direction: column;
        gap: 50px;
    }

    .client-report-box > div:nth-child(3) h3 {
        font-size: 30px;
    }

    .cust-report-box {
        flex-direction: column;
        gap: 20px;
    }
}